In [1]:
import pandas as pd

data = pd.read_csv("nasa_power_data_with_date.csv")

In [3]:
data.describe()

,T2M,PRECTOT,RH2M,WS2M,ALLSKY_SFC_SW_DWN,TMAX,TMIN
count,1492.000000,1492.000000,1492.000000,1492.000000,1492.000000,1492.000000,1492.00000
mean,79.615422,11.765731,12.470067,3.043324,1.870630,7.173599,16.68319
std,11.323147,6.793502,8.090325,1.440690,3.335983,5.886560,7.67558
min,38.000000,-5.170000,0.780000,0.550000,0.000000,-8.990000,-1.56000
25%,71.500000,6.695000,5.015000,1.950000,0.030000,2.877500,10.78000
50%,80.030000,11.405000,11.525000,2.795000,0.295000,7.190000,16.46000
75%,89.560000,17.447500,18.735000,3.830000,2.180000,11.995000,22.83750
max,99.060000,29.670000,31.030000,9.520000,27.270000,22.730000,38.21000